/JSWComputations/build/
/JSWFullName/nbproject/private/
/JSW01FullName/nbproject/private/
/JSWComputations/nbproject/private
/JSW10Computations/nbproject/private/
/JSWColors/nbproject/private
/JSW20Colors/nbproject/private/
/JSW01FullName/build/
/JSW02Counter/nbproject/private/
/JSW03OddEvenCounter/nbproject/private/
/JSW04ButtonFormatter/nbproject/private/
/JSW04ButtonFormatter/build/
/JSW02Counter/build/