/JSWComputations/build/
/JSWFullName/nbproject/private/
/JSW01FullName/nbproject/private/
/JSWComputations/nbproject/private
/JSW10Computations/nbproject/private/
/JSWColors/nbproject/private
/JSW20Colors/nbproject/private/